<div class="usermanage">
	<div class="usermanage-top">
		<div class="usermanage-title">用户管理</div>
		<div class="usermanage-operation pull-right">
			<div class="pull-left show-all-data">
				<button ng-disabled="!isSearch" class="btn btn-primary" ng-click="showAllData()">显示所有数据</button>
			</div>
			<div class="pull-left search">
				<div class="form-group">
					<div class="input-group">
						<input class="form-control" type="text" name="search" placeholder="输入总代理姓名..." ng-model="search.user" ng-keydown="enterSearching($event)" />
						<span ng-click="searching()" class="input-group-addon searching">
							<i class="fa fa-search"></i>
						</span>
					</div>
				</div>
			</div>

			<div class="pull-left add-btn" ng-if="authority === 1">
				<button class="btn btn-primary" data-toggle="modal" data-target="#agent">添加总代理</button>
			</div>
		</div>
	</div>
	
	<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>序号</th>
					<th>姓名</th>
					<th>手机号</th>
					<th>职位</th>
					<th>状态</th>
					<th>联系地址</th>
					<th>主关系</th>
					<th>次关系</th>
					<th>登录次数</th>
					<th>最后一次登录时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pageDataList track by $index">
					<td>{{item.num + 1}}</td>
					<td>{{item.username}}</td>
					<td>{{item.phone}}</td>
					<td>{{item.position}}</td>
					<td>{{item.status == 1 ? '正常' : '禁用'}}</td>
					<td>{{item.address}}</td>
					<td>{{item.rp}}</td>
					<td>{{item.sp}}</td>
					<td>{{item.loginCount}}</td>
					<td>{{item.lastLoginTime}}</td>
					<th>
						<button class="btn btn-xs btn-success" ng-if="(authority == 0 || authority == 1) && (item.auth == 3)" ng-click="selectDistributor(item)">查看分销商</button>
						<button class="btn btn-xs btn-warning" ng-if="item.status == 0" ng-click="changeStatus(item)">启用</button>
						<button class="btn btn-xs btn-danger" ng-if="item.status == 1" ng-click="changeStatus(item)">禁用</button>
					</th>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="pagination" class="usermanage-pagination">

  </div>

  <div id="agent" class="modal fade" ng-if="authority === 1">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
	        <h4 class="modal-title">添加总代理</h4>
	      </div>
	      <div class="modal-body">
	        <form name="userForm" novalidate>
	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				<i class="fa fa-mobile fa-lg"></i>
	        			</span>
	        			<input class="form-control" type="text" name="phone" autocomplete="off" placeholder="手机号" ng-model="userInfo.phone" ng-required="true" ng-pattern="/^1[35678]\d{9}$/" />
	        		</div>
	        		<div ng-hide="userForm.phone.$pristine">
								<div class="alert alert-danger" ng-show="userForm.phone.$error.required">
									<p>手机号必填</p>
								</div>
								<div class="alert alert-danger" ng-show="userForm.phone.$error.pattern">
									<p>手机号格式错误</p>
								</div>
							</div>
	        	</div>
	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				<i class="fa fa-lock"></i>
	        			</span>
	        			<input class="form-control" type="password" name="pwd" autocomplete="off" placeholder="密码(6-16位)" ng-model="userInfo.pwd" ng-required="true" ng-pattern="/^\w{6,16}$/" />
	        		</div>
	        		<div ng-hide="userForm.pwd.$pristine">
								<div class="alert alert-danger" ng-show="userForm.pwd.$error.required">
									<p>密码必填</p>
								</div>
								<div class="alert alert-danger" ng-show="userForm.pwd.$error.pattern">
									<p>密码格式错误，只能数字字母下划线组合6-16位</p>
								</div>
							</div>
	        	</div>
	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				<i class="fa fa-lock"></i>
	        			</span>
	        			<input class="form-control" type="password" name="repwd" autocomplete="off" placeholder="确认密码" ng-model="userInfo.repwd" />
	        		</div>
	        		<div ng-hide="userForm.repwd.$pristine">
	        			<div class="alert alert-danger" ng-show="userInfo.repwd != userInfo.pwd">
									<p>两次密码不一致</p>
								</div>
	        		</div>
	        	</div>
	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				<i class="fa fa-user"></i>
	        			</span>
	        			<input class="form-control" type="text" name="username" autocomplete="off" placeholder="真实姓名" ng-required="true" ng-model="userInfo.username" />
	        		</div>
	        		<div ng-hide="userForm.username.$pristine">
	        			<div class="alert alert-danger" ng-show="userForm.username.$error.required">
									<p>姓名必填</p>
								</div>
	        		</div>
	        	</div>
	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				<i class="fa fa-address-card-o"></i>
	        			</span>
	        			<input class="form-control" type="text" name="idcard" autocomplete="off" placeholder="身份证号" ng-model="userInfo.idcard" ng-required="true" ng-pattern="/^\d{17}(\d|x)$/i" />
	        		</div>
	        		<div ng-hide="userForm.idcard.$pristine">
	        			<div class="alert alert-danger" ng-show="userForm.idcard.$error.required">
	        				<p>身份证必填</p>
	        			</div>
	        			<div class="alert alert-danger" ng-show="userForm.idcard.$error.pattern">
	        				<p>身份证格式不正确</p>
	        			</div>
	        		</div>
	        	</div>
	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				<i class="fa fa-location-arrow"></i>
	        			</span>
	        			<input class="form-control" type="text" name="address" autocomplete="off" placeholder="收货地址" ng-required="true" ng-pattern="/^[A-z0-9\u4e00-\u9fa5-,，\.。]+$/" ng-model="userInfo.address" ng-maxlength="30" />
	        		</div>
	        		<div ng-hide="userForm.address.$pristine">
	        			<div class="alert alert-danger" ng-show="userForm.address.$error.required">
	        				联系地址必填
	        			</div>
	        			<div class="alert alert-danger" ng-show="userForm.address.$error.pattern">
	        				联系地址不能含有特殊字符，比如!@#$%^+&*< >《》?~\|""'';:`·
	        			</div>
	        			<div class="alert alert-danger" ng-show="userForm.address.$error.maxlength">
	        				联系地址过长，最多30个字符
	        			</div>
	        		</div>
	        	</div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="addAgent()">确认</button>

	      </div>
	    </div>
	  </div>
	</div>

</div>