.usermanage{
	height: 100%;
	overflow-y: auto;
}
.usermanage .usermanage-title{
	font-size: 24px;
}
.usermanage .usermanage-pagination{
	text-align: center;
}

.usermanage .usermanage-pagination li{
	cursor: pointer;
}
.usermanage .usermanage-top{
	height: 50px;
}

.usermanage .search{
	width: 200px;
}

.usermanage .add-btn{
	margin-left: 50px;
}

.usermanage .usermanage-top>.usermanage-title{
	float: left;
}


.usermanage .show-all-data{
	margin-right: 15px;
}

.usermanage .searching{
	cursor: pointer;
	transition: background-color .3s;
}

.usermanage .searching:hover{
	background-color: #337AB7;
	color: #efefef;
}