html,body,.view{
	height: 100%;
	background-color: #fff;
}
.view{
	min-width: 1170px;
}

.auto-img{
	display: block;
	width: 100%;
	height: auto;
}
td,th{
	text-align: center;
}
td{
	vertical-align: middle !important;
}

.distext{
	color: #ccc !important;
}

button{
	outline: none !important;
}

.ngdialog-close{
	outline: none !important;
}

.pagination{
	user-select: none;
}