<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" />
	<title>和力-天香鸡</title>
	<meta name="viewport" ccontent="width=device-width,initial-scale=1" />
	<meta name="keywords" content="和力，天香鸡" />
  <meta name="description" content="和力天香鸡是一种自然鸡" />
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/ngDialog.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/ngDialog-theme-default.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/index.css" />
</head>
<body ng-controller="rootController">

	<div ui-view class="view"></div>

	<script type="text/javascript" src="assets/js/addprototype.js"></script>
	<script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/echarts.common.min.js"></script>
	<script type="text/javascript" src="assets/js/angular.js"></script>
	<script type="text/javascript" src="assets/js/angular-sanitize.js"></script>
	<script type="text/javascript" src="assets/js/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="assets/js/angular-cookies.js"></script>
	<script type="text/javascript" src="assets/js/ocLazyLoad.min.js"></script>
	<script type="text/javascript" src="assets/js/ngDialog.min.js"></script>
	<script type="text/javascript" src="module/module.js"></script>
	<script type="text/javascript" src="service/lazyLoadFile.js"></script>
	<script type="text/javascript" src="config/http.config.js"></script>
	<script type="text/javascript" src="config/lazyload.config.js"></script>
	<script type="text/javascript" src="route/route.js"></script>
	<script type="text/javascript" src="directive/loading/loading.js"></script>
	<script type="text/javascript" src="service/tip.js"></script>
	<script type="text/javascript" src="service/chart.js"></script>
	<script type="text/javascript" src="service/api.js"></script>
	<script type="text/javascript" src="controller/rootController.js"></script>
</body>
</html>