<div class="agentorder">
	<div class="agentorder-top">
		<div class="agentorder-title">订单管理/<span class="second-agentorder-title">总代理订单</span></div>
		<div class="agentorder-operation">
			<div class="pull-left show-all-data">
				<button type="button" class="btn btn-primary" ng-disabled="!isSearch" ng-click="showAllData()">显示所有数据</button>
			</div>
			<div class="pull-left search">
				<div class="form-group">
					<div class="input-group">
						<input class="form-control" type="text" name="search" placeholder="输入总代理名称..." ng-model="search.name" ng-keydown="enterSearching($event)" />
						<span class="input-group-addon searching" ng-click="searching()">
							<i class="fa fa-search"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>序号</th>
					<th>总代理</th>
					<th>手机号</th>
					<th>订单数量</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pageDataList track by $index">
					<td>{{item.num + 1}}</td>
					<td>{{item.username}}</td>
					<td>{{item.phone}}</td>
					<td>{{item.count}}</td>
					<td>
						<button class="btn btn-xs btn-success" ng-click="goState('home.order', {id: item.uid})">查看详情</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="pagination" class="agentorder-pagination"></div>

</div>