<div class="order">
	<div class="order-top">
		<div class="order-title">订单管理/<span class="second-order-title">总代理订单/分销商订单</span></div>
		<div class="order-operation">
			<div class="pull-left show-all-data">
				<button type="button" class="btn btn-primary" ng-disabled="!isSearch" ng-click="showAllData()">显示所有数据</button>
			</div>
			<div class="pull-left search">
				<div class="form-group">
					<div class="input-group">
						<input class="form-control" type="text" name="search" placeholder="输入订单号..." ng-model="search.orderNo" ng-keydown="enterSearching($event)" />
						<span class="input-group-addon searching" ng-click="searching()">
							<i class="fa fa-search"></i>
						</span>
					</div>
				</div>
			</div>

			<div class="pull-left add-btn" ng-if="authority == 3">
				<button class="btn btn-primary" ng-click="openModal('#newOrder')">新建订单</button>
			</div>
		</div>
	</div>
	
	<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>序号</th>
					<th>订单编号</th>
					<th>商品编号</th>
					<th>商品名称</th>
					<th>商品价格</th>
					<th>商品数量</th>
					<th>订单状态</th>
					<th>总代理</th>
					<th>收货人(分销商)</th>
					<th>收货人(分销商)手机号</th>
					<th>收货地址</th>
					<th>订单日期</th>
					<th style="width: 100px;">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pageDataList track by $index">
					<td>{{item.num + 1}}</td>
					<td>{{item.orderNo}}</td>
					<td>{{item.productNo}}</td>
					<td>{{item.name}}</td>
					<td>{{item.price}}</td>
					<td>{{item.count}}</td>
					<td ng-class="{success: item.status == 3}">{{item.status == 0 ? '待付款' : item.status == 1 ? '待发货' : item.status == 2 ? '已发货' : item.status == 3 ? '已收货': '无效'}}</td>
					<td>{{item.rp}}</td>
					<td>{{item.username}}</td>
					<td>{{item.phone}}</td>
					<td>{{item.address}}</td>
					<td>{{item.create_time}}</td>
					<th>
						<button class="btn btn-xs btn-success" ng-if="item.status == 0 && authority == 3" ng-click=
						"pay(item)">付款</button>
						<button class="btn btn-xs btn-danger" ng-if="item.status == 0 && authority == 3" ng-click="removeOrder(item, $index)">删除</button>
						<button class="btn btn-xs btn-danger" ng-if="item.status == 1 && authority == 2" ng-click="sendOrder(item)">发货</button>
						<button class="btn btn-xs btn-warning" ng-if="item.status == 2 && authority == 3" ng-click="receiveOrder(item)">确认收货</button>
						<button class="btn btn-xs btn-info commenting" ng-click="comment(item)" ng-if="item.status == 3"><i></i>订单反馈</button>

					</th>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="pagination" class="order-pagination"></div>

  <div id="newOrder" class="modal fade" ng-if="authority == 3">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
	        <h4 class="modal-title">新建订单</h4>
	      </div>
	      <div class="modal-body">
	        <form name="orderForm" novalidate>
	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				订单编号
	        			</span>
	        			<input class="form-control" type="text" name="orderno" ng-model="orderInfo.orderNo" placeholder="订单编号" ng-disabled="true" />
	        		</div>
	        	</div>
	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				商品名称
	        			</span>
	        			<select class="form-control" ng-model="orderInfo.name" ng-options="item.id as item.name for item in productList" ng-change="selectProduct(orderInfo.name)">
	        			</select>
	        		</div>
	        	</div>
	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				商品编号
	        			</span>
	        			<input class="form-control" type="text" name="productno" ng-model="orderInfo.productNo" placeholder="商品编号" ng-disabled="true" />
	        		</div>
	        	</div>
	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				商品单价
	        			</span>
	        			<input class="form-control" type="text" name="price" ng-model="orderInfo.price" placeholder="商品价格" ng-disabled="true" />
	        		</div>
	        	</div>

	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				商品数量
	        			</span>
	        			<input class="form-control" type="text" name="count" autocomplete="off" placeholder="商品数量" ng-model="orderInfo.count" ng-required="true" ng-pattern="/^[1-9]\d*$/" />
	        		</div>
	        		<div ng-hide="orderForm.count.$pristine">
								<div class="alert alert-danger" ng-show="orderForm.count.$error.required">
									<p>数量必填</p>
								</div>
								<div class="alert alert-danger" ng-show="orderForm.count.$error.pattern">
									<p>数量只能填写数字，且不能以0开头，不能有小数</p>
								</div>
								<div class="alert alert-danger" ng-show="orderInfo.count <= 0">
									<p>数量至少为1</p>
								</div>
							</div>
	        	</div>

	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				收&nbsp;&nbsp;货&nbsp;&nbsp;人
	        			</span>
	        			<input class="form-control" type="text" name="receive" autocomplete="off" placeholder="收货人(分销商真实姓名)" ng-model="orderInfo.receive" ng-required="true" />
	        		</div>
	        		<div ng-hide="orderForm.receive.$pristine">
	        			<div class="alert alert-danger" ng-show="orderForm.receive.$error.required">
									<p>收货人必填</p>
								</div>
	        		</div>
	        	</div>

	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				手机号码
	        			</span>
	        			<input class="form-control" type="text" name="phone" autocomplete="off" placeholder="手机号码(必须是分销商手机号)" ng-model="orderInfo.phone" ng-required="true" ng-pattern="/^1[35678]\d{9}$/" />
	        		</div>
	        		<div ng-hide="orderForm.phone.$pristine">
								<div class="alert alert-danger" ng-show="orderForm.phone.$error.required">
									<p>手机号必填</p>
								</div>
								<div class="alert alert-danger" ng-show="orderForm.phone.$error.pattern">
									<p>手机号格式错误</p>
								</div>
							</div>
	        	</div>
	      
	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				收货地址
	        			</span>
	        			<input class="form-control" type="text" name="address" autocomplete="off" placeholder="收货地址" ng-required="true" ng-pattern="/^[A-z0-9\u4e00-\u9fa5-,，\.。]+$/" ng-model="orderInfo.address" ng-maxlength="30" />
	        		</div>
	        		<div ng-hide="orderForm.address.$pristine">
	        			<div class="alert alert-danger" ng-show="orderForm.address.$error.required">
	        				收货地址必填
	        			</div>
	        			<div class="alert alert-danger" ng-show="orderForm.address.$error.pattern">
	        				收货地址不能含有特殊字符，比如!@#$%^+&*< >《》?~\|""'';:`·
	        			</div>
	        			<div class="alert alert-danger" ng-show="orderForm.address.$error.maxlength">
	        				收货地址过长，最多30个字符
	        			</div>
	        		</div>
	        	</div>
	        </form>
	        <div class="clearfix">
	        	<span class="pull-right total-money">订单总价: <span class="money">{{orderInfo.price * orderInfo.count ? orderInfo.price * orderInfo.count : 0}}</span>元</span>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary" ng-click="addOrder()" ng-disabled="orderForm.$invalid">加入订单</button>
	      </div>
	    </div>
	  </div>
	</div>

</div>