<div class="person">
	<div class="person-top clearfix">
		<div class="person-title pull-left">个人中心</div>
		<div class="pull-right modifiy-pwd">
			<button class="btn btn-warning" data-toggle="modal" data-target="#modifyPwd">修改密码</button>
		</div>
		<div class="pull-right modifiy-pwd">
			<button class="btn btn-success" ng-disabled="isModifyAddress" ng-click="modifyAddress()">修改联系地址</button>
		</div>

	</div>
	<div class="user-data">
		<h3 class="text-center title">个人基本信息</h3>
		<form name="userForm" novalidate>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名
					</span>
					<input class="form-control" type="text" name="username" autocomplete="off" ng-disabled="true" ng-model="userInfo.username" placeholder="用户名" />
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位
					</span>
					<input class="form-control" type="text" name="position" autocomplete="off" ng-disabled="true" ng-model="userInfo.position" placeholder="职位" />
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">手&nbsp;&nbsp;机&nbsp;&nbsp;号</span>
					<input class="form-control" type="text" name="phone" autocomplete="off" ng-disabled="true" ng-model="userInfo.phone" placeholder="手机号" />
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						身份证号
					</span>
					<input class="form-control" type="text" name="idcard" autocomplete="off" ng-disabled="true" ng-model="userInfo.idcard" placeholder="身份证号" />
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						联系地址
					</span>
					<input class="form-control" type="text" name="address" autocomplete="off" ng-disabled="!isModifyAddress" ng-required="true" ng-pattern="/^[A-z0-9\u4e00-\u9fa5-,，\.。]+$/" ng-model="userInfo.address" ng-maxlength="30" placeholder="联系地址" />
				</div>
				<div ng-hide="userForm.address.$pristine">
	        <div class="alert alert-danger" ng-show="userForm.address.$error.required">联系地址必填</div>
	        <div class="alert alert-danger" ng-show="userForm.address.$error.pattern">联系地址不能含有特殊字符，比如!@#$%^+&*< >《》?~\|""'';:`·</div>
	        <div class="alert alert-danger" ng-show="userForm.address.$error.maxlength">联系地址过长，最多30个字符</div>
	      </div>
			</div>
			<div class="form-group">
				<button ng-if="isModifyAddress" type="button" class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="commitModifyAddress()">确 认</button>
				<button ng-if="isModifyAddress" type="button" class="btn btn-default" ng-click="cancelModifyAddress()">取 消</button>
			</div>
		</form>
	</div>

	<!-- 修改密码 -->
	<div id="modifyPwd" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
	        <h4 class="modal-title">修改密码</h4>
	      </div>
	      <div class="modal-body">
	        <form name="pwdForm" novalidate>
	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				<i class="fa fa-lock"></i>
	        			</span>
	        			<input class="form-control" type="password" name="oldpwd" autocomplete="off" placeholder="密码(6-16位)" ng-model="pwdInfo.oldpwd" ng-required="true" ng-pattern="/^\w{6,16}$/" />
	        		</div>
	        		<div ng-hide="pwdForm.oldpwd.$pristine">
								<div class="alert alert-danger" ng-show="pwdForm.oldpwd.$error.required">
									<p>密码必填</p>
								</div>
								<div class="alert alert-danger" ng-show="pwdForm.oldpwd.$error.pattern">
									<p>密码格式错误，只能数字字母下划线组合6-16位</p>
								</div>

							</div>
	        	</div>
	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				<i class="fa fa-lock"></i>
	        			</span>
	        			<input class="form-control" type="password" name="newpwd" autocomplete="off" placeholder="新密码(6-16位)" ng-model="pwdInfo.newpwd" ng-required="true" ng-pattern="/^\w{6,16}$/" />
	        		</div>
	        		<div ng-hide="pwdForm.newpwd.$pristine">
								<div class="alert alert-danger" ng-show="pwdForm.newpwd.$error.required">
									<p>新密码必填</p>
								</div>
								<div class="alert alert-danger" ng-show="pwdForm.newpwd.$error.pattern">
									<p>新密码格式错误，只能数字字母下划线组合6-16位</p>
								</div>
								<div class="alert alert-danger" ng-show="pwdInfo.newpwd == pwdInfo.oldpwd">
									<p>新密码不能和旧密码一致</p>
								</div>
							</div>
	        	</div>
	        	<div class="form-group">
	        		<div class="input-group">
	        			<span class="input-group-addon">
	        				<i class="fa fa-lock"></i>
	        			</span>
	        			<input class="form-control" type="password" name="renewpwd" autocomplete="off" placeholder="确认新密码" ng-model="pwdInfo.renewpwd" />
	        		</div>
	        		<div ng-hide="pwdForm.renewpwd.$pristine">
	        			<div class="alert alert-danger" ng-show="pwdInfo.renewpwd != pwdInfo.newpwd">
									<p>两次密码不一致</p>
								</div>
	        		</div>
	        	</div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="button" class="btn btn-primary" ng-disabled="pwdForm.$invalid || pwdInfo.newpwd == pwdInfo.oldpwd || pwdInfo.renewpwd != pwdInfo.newpwd" ng-click="modifyPwd()">确认</button>
	      </div>
	    </div>
	  </div>
	</div>

</div>