<div class="data">
	<div class="data-top">
			<div class="data-title">数据统计</div>
			<form name="dataForm" novalidate class="pull-left clearfix">
				<div class="pull-left date">
					<div class="pull-left start-date-title">商品名称:</div>
					<div class="start-date pull-left">
						<select class="form-control" name="name" ng-model="dataInfo.productNo" ng-options="item.productNo as item.name for item in productList" ng-required="true">
						</select>
					</div>
				</div>
				<div class="pull-left date">
					<div class="pull-left start-date-title">开始日期:</div>
					<div class="start-date pull-left">
						<input class="form-control" type="month" name="starttime" ng-model="dataInfo.startDate" ng-required="true" />
					</div>
				</div>
				<div class="pull-left date">
					<div class="pull-left start-date-title">结束日期:</div>
					<div class="start-date pull-left">
						<input class="form-control" type="month" name="endtime" ng-model="dataInfo.endDate" ng-required="true" />
					</div>
				</div>
				<div class="pull-left date">
					<button class="btn btn-primary" ng-click="generateChart()" ng-disabled="dataForm.$invalid">生成数据</button>
					<button class="btn btn-danger" ng-click="clearChart()" ng-disabled="!isShowData">清除数据</button>
				</div>
			</form>
	</div>
	<div id="chart" class="data-content">
		
	</div>
</div>