<div class="forgot">
	<div class="title">和力天香</div>
	<div class="forgot-bg"></div>
	<div class="forgot-box">
		<h2 class="text-center forgot-title">密码找回</h2>
		<form name="userForm" novalidate>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-mobile fa-lg"></i>
					</span>
					<input class="form-control" type="text" name="phone" autocomplete="off" ng-model="userInfo.phone" ng-required="true" ng-pattern="/^1[35678]\d{9}$/" placeholder="手机号" maxlength="11" />
				</div>

				<div ng-hide="userForm.phone.$pristine">
					<div class="alert alert-danger" ng-show="userForm.phone.$error.required">
						<p>手机号必填</p>
					</div>
					<div class="alert alert-danger" ng-show="userForm.phone.$error.pattern">
						<p>手机号格式错误</p>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-lock"></i>
					</span>
					<input class="form-control" type="password" name="pwd" autocomplete="off" ng-model="userInfo.pwd" ng-required="true" ng-pattern="/^\w{6,16}$/" placeholder="新密码(6-16位)" />
				</div>
				<div ng-hide="userForm.pwd.$pristine">
					<div class="alert alert-danger" ng-show="userForm.pwd.$error.required">
						<p>密码必填</p>
					</div>
					<div class="alert alert-danger" ng-show="userForm.pwd.$error.pattern">
						<p>密码格式错误，只能数字字母下划线组合</p>
					</div>
				</div>
				
			</div>

			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-lock"></i>
					</span>
					<input class="form-control" type="password" name="repwd" autocomplete="off" ng-model="userInfo.repwd" ng-required="true" placeholder="确认密码" />
				</div>
				<div ng-hide="userForm.repwd.$pristine">
					<div class="alert alert-danger" ng-show="userInfo.pwd != userInfo.repwd">
						<p>两次密码不一致</p>
					</div>

				</div>
				
			</div>

			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-unlock-alt"></i>
					</span>
					<input class="form-control" type="text" name="code" autocomplete="off" ng-model="userInfo.code" ng-required="true" placeholder="手机验证码" />
					<span class="input-group-addon getcode" ng-click="getPhoneCode($event)">
						获取验证码
					</span>
				</div>
				<div ng-hide="userForm.code.$pristine">
					<div class="alert alert-danger" ng-show="userInfo.code != codeText">
						<p>验证码错误</p>
					</div>
				</div>
				
			</div>
			
			<div class="form-group">
				<button ng-disabled="userForm.$invalid || userInfo.code != codeText" type="button" class="btn btn-success btn-block" ng-click="commit()">提交</button>
				<div class="forgot">
					<span ui-sref="login">登录</span>
				</div>
			</div>
		</form>
	</div>
</div>
